@media (max-width: 992px) {
  .main {
    .content {
      .section1 {
        grid-area: section1;
      }
      .section2 {
        grid-area: section2;
        img {
          width: auto;
          height: 300px;
        }
      }
      .section3 {
        grid-area: section3;
        padding-right: 30px;
        .status {
          .progress {
            .maxValue {
              .value {
                height: 16px;
                font-size: 12px;
                line-height: 16px;
              }
            }
          }
        }
      }
      grid-template-columns: none;
      grid-template-areas:
        'section2 section2'
        'section1 section3';
    }
  }
}
@media (max-width: 540px) {
  .main {
    .header {
      .name {
        font-size: 3rem;
      }
    }
    .content {
      .section3 {
        padding: 0px 30px;
        .status {
          .progress {
            .maxValue {
              .value {
                height: 20px;
                font-size: 16px;
                line-height: 20px;
              }
            }
          }
        }
      }
      grid-template-areas:
        'section2'
        'section1'
        'section3';
    }
  }
}
