@import '../../assets/styles/types-poke';

.main {
  max-width: 1400px;
  margin: auto;
  padding: 20px 10px;
  .header {
    text-align: center;
    .name {
      font-size: 5rem;
      color: #fff;
      text-shadow: 0 0 3px #000, 2px 2px 7px #9be1ff, -2px -2px 7px #9be1ff;
      margin-bottom: 0.5em;
      text-transform: capitalize;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 30% auto 30%;
    .section1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .description {
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
        .label {
          width: 100px;
          text-align: right;
        }
        .value {
          flex: 1;
          text-transform: uppercase;
          display: flex;
          gap: 10px;
          .box {
            width: 30%;
            border-radius: 20px;
            text-transform: capitalize;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
            height: 24px;
            line-height: 24px;
            @include types;
          }
        }
      }
    }
    .section2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        height: auto;
      }
      .desc {
        display: flex;
        gap: 10px;
      }
    }
    .section3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 28px;
      }
      .type {
        display: flex;
        gap: 10px;
        margin: 20px 0px 40px 0px;
        .box {
          width: 30%;
          border-radius: 20px;
          text-transform: capitalize;
          color: #fff;
          text-align: center;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
          height: 30px;
          line-height: 30px;
          @include types;
        }
      }

      .status {
        width: 100%;
        .progress {
          margin-bottom: 5px;
          .name {
            text-transform: uppercase;
            width: 135px;
            font-size: 12px;
          }
          .maxValue {
            flex: 1;
            border: 1px solid #b4ebff;
            border-radius: 20px;
            .value {
              border-radius: 20px;
              background: #b4ebff;
              text-align: center;
              font-size: 8px;
              height: 10px;
              line-height: 10px;
              color: black;
            }
          }
        }
      }
    }
  }
}

@import './responsive.module.scss';
