@import '../../assets/styles/types-poke';

.main {
  .picture {
    padding: 45px;
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    img {
      margin: auto;
      display: block;
    }
  }
  .title {
    padding: 15px 0px;
    h1 {
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 0px;
    }
  }
  .container {
    max-width: 1400px;
    margin: auto;

    .type {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px 0px;
      .box {
        min-width: 120px;
        border-radius: 20px;
        text-transform: capitalize;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
        height: 30px;
        line-height: 30px;
        @include types;
      }
    }
    .profile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px 0px;
      section {
        h2,
        h4 {
          text-align: center;
        }
        h4 {
          font-size: 14px;
          color: #7f7b7e;
        }
      }
    }
    .baseStats {
      h1 {
        text-align: center;
        font-size: 22px;
      }
      .status {
        width: 100%;
        padding: 0px 20px;
        .progress {
          margin-bottom: 5px;
          display: flex;

          .name {
            text-transform: uppercase;
            width: 35px;
            font-size: 14px;
          }
          .maxValue {
            flex: 1;
            flex: 1;
            border-radius: 20px;
            background-color: white;
            .value {
              border-radius: 20px;
              height: 100%;
              section {
                color: black;
                min-width: 75px;
                text-align: center;
                font-size: 10px;
                height: 100%;
                line-height: 19px;
              }
            }
          }
        }
      }
    }
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      button {
        background: transparent;
        border: none;
      }
    }
  }
}
