@media (max-width: 992px) {
  .main {
    .list {
      grid-template-columns: repeat(3, 1fr);
      .pokemon {
        height: 355px;
      }
    }
  }
}
@media (max-width: 720px) {
  .main {
    .list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 540px) {
  .main {
    .list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
