@import '../../assets/styles/types-poke';

.main {
  max-width: 1400px;
  margin: auto;
  padding: 20px 10px;
  .header {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #b4ebff, inset 0 0 10px #b4ebff;
    box-shadow: 0 0 10px #b4ebff, inset 0 0 10px #b4ebff;
    padding: 20px;
    margin-bottom: 40px;
    img {
      height: 100px;
      width: auto;
      margin: auto;
      display: block;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    .pokemon {
      background: url('../../assets/image/list_pokemon_bg.png') no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      height: 500px;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      .picture {
        height: 275px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-height: 150px;
          width: auto;
          cursor: pointer;
        }
      }
      .desc {
        flex: 1;
        padding: 15px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .no {
          font-size: 21px;
          color: #b4ebff;
        }
        .name {
          font-size: 31px;
          color: white;
          text-transform: capitalize;
        }
        .type {
          display: flex;
          gap: 10px;
          margin-top: 20px;
          .box {
            width: 50%;
            border-radius: 20px;
            text-transform: capitalize;
            color: #fff;
            text-align: center;
            display: block;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
            height: 30px;
            line-height: 30px;
            @include types;
          }
        }
      }
    }
  }
  .loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    button {
      background-color: transparent;
      color: #b3eafe;
      text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
      border: 1px solid #b3eafe;
      width: 600px;
      height: 65%;
      border-radius: 20px;
      &:hover {
        background-color: #b3eafe;
        color: black;
      }
    }
  }
}

@import './responsive.module.scss';
